<div class="page-breadcrumb">
  <div class="container">
    <nav class="breadcrumb-nav">
      <a [routerLink]="['/']"><i class="fa fa-home"></i></a>
      <span class="breadcrumb-sep">/</span>
      <a [routerLink]="['/account']">Account</a>
      <span class="breadcrumb-sep">/</span>
      <a [routerLink]="['/account/addresses']">Addresses</a>
      <span class="breadcrumb-sep">/</span>
      <span>{{ isUpdate ? 'Edit address' : 'Add address' }}</span>
    </nav>
  </div>
</div>

<div class="container page-body">
  <div class="page-header">
    <h1 class="page-title">
      <i class="fa fa-map-marker me-2"></i>{{ isUpdate ? 'Edit address' : 'Add address' }}
    </h1>
  </div>
  <app-form-address [id]="id" (actionEvent)="actionEvent()"></app-form-address>
</div>
