:host {
    .counter {
        position: relative;
      }
      .counter__input {
        border: 0;
        border-radius: 3px;
        height: 30px;
        max-width: 40px;
        text-align: center;
      }
      .counter__button {
        outline: 0;
        cursor: pointer;
        height: 30px;
        width: 30px;
        border: 0;
        border-radius: 3px;
        background: #0088cc;
        color: #fff;
      }
    
}