<div class="page-breadcrumb">
  <div class="container">
    <nav class="breadcrumb-nav">
      <a [routerLink]="['/']"><i class="fa fa-home"></i></a>
      <span class="breadcrumb-sep">/</span>
      <a [routerLink]="['/account']">Account</a>
      <span class="breadcrumb-sep">/</span>
      <span>Addresses</span>
    </nav>
  </div>
</div>

<div class="container page-body">

  <div class="page-header">
    <h1 class="page-title"><i class="fa fa-map-marker me-2"></i>Addresses</h1>
    <a class="btn-add" [routerLink]="['/account/upsert-address']">
      <i class="fa fa-plus me-1"></i>Add address
    </a>
  </div>

  @if (addresses().length === 0) {
    <div class="addresses-empty">
      <i class="fa fa-map-o addresses-empty__icon"></i>
      <p>No addresses yet. <a [routerLink]="['/account/upsert-address']">Add one</a>.</p>
    </div>
  }

  <div class="row g-3">
    @for (address of addresses(); track address) {
      <div class="col-lg-4 col-md-6">
        <app-address [address]="address" [actions]="actions" (actionEvent)="actionEvent($event, address)"></app-address>
      </div>
    }
  </div>

</div>
