<div class="row" *ngIf="order">

  <div class="col-lg-12">
    <h2 class="block-title-2"> Your order</h2>
  </div>


  <div class="col-lg-4 col-md-4 col-sm-12">
    <div>
      <table class="table">
        <tbody>
          <tr>
            <th>Order #: </th>
            <td>{{ order.documentNo }}</td>
          </tr>
          <tr>
            <th>Date: </th>
            <td class="price">{{ order.date | date: 'MM/dd/yyyy' }}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td class="price"><span class="success">{{ order.docStatusName }}</span></td>
          </tr>
          <tr>
            <td colspan="2">
                <button class="btn btn-sm btn-success me-2" (click)="downloadOrder()">PDF</button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12">
    <div>
      <table class="table">
        <tbody>
        <tr>
          <th>Delivery address :</th>
        </tr>
        <tr *ngIf="order.shipAddress">
          <td>
            <ul class="list-inline">
              <li>{{ order.shipAddress.location.address1 }}</li>
              <li *ngIf="order.shipAddress.location.address2">{{order.shipAddress.location.address2 }}</li>
              <li>{{ order.shipAddress.location.postal }} {{ order.shipAddress.location.city }}</li>
              <li>{{ order.shipAddress.location.country.name }}</li>
              <li *ngIf="!order.shipAddress.location.address2">&nbsp;</li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12">
    <div>
      <table class="table">
        <tbody>
          <tr>
            <th>Invoice address :</th>
          </tr>
          <tr *ngIf="order.billAddress">
            <td>
              <ul class="list-inline">
                <li>{{ order.billAddress.location.address1 }}</li>
                <li *ngIf="order.billAddress.location.address2">{{ order.billAddress.location.address2 }}</li>
                <li>{{ order.billAddress.location.postal }} {{ order.billAddress.location.city }}</li>
                <li>{{ order.billAddress.location.country.name }}</li>
                <li *ngIf="!order.billAddress.location.address2">&nbsp;</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12">
    <div>
      <table class="table table-striped">
        <thead>
          <tr >
            <th class="w-10 d-none d-sm-table-cell">Item</th>
            <th class="w-20">Product</th>
            <th class="w-40">Description</th>
            <th class="w-10 d-none d-sm-table-cell">Unit Price</th>
            <th class="w-10">Qty</th>
            <th class="w-10">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let line of order.lines" >
            <td class="d-none d-sm-table-cell">{{ line.line }}</td>
            <td><h4>{{ line.name }}</h4></td>
            <td>{{ line.description }}</td>
            <td class="d-none d-sm-table-cell"><div class="price">{{ line.price | currency }}</div></td>
            <td>{{ line.qty }}</td>
            <td>{{ line.price*line.qty | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>


    <div>
        <table class="table">
          <tbody>
            <tr>
              <th>Total Lines</th>
              <td class="price">{{ order.totalLines | currency }}</td>
            </tr>
            <tr *ngFor="let tax of order.taxes">
                <th>Tax {{ tax.name}}</th>
                <td class="price">{{ tax.taxAmt | currency }}</td>
            </tr>
            <tr>
              <th>Total</th>
              <td class="price">{{ order.grandTotal | currency }}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

</div>

