<div class="address-card">
  <div class="address-card__header">
    <i class="fa fa-map-marker address-card__icon"></i>
    <strong class="address-card__name">{{ address.name }}</strong>
  </div>
  <div class="address-card__body">
    <address>
      {{ address.location?.address1 }}<br>
      @if (address.location?.address2) { {{ address.location?.address2 }}<br> }
      {{ address.location?.postal }} {{ address.location?.city }}<br>
      {{ address.location?.country?.name }}
    </address>
  </div>
  @if (actions?.length) {
    <div class="address-card__footer">
      @for (action of actions; track action) {
        <button (click)="onClick(action)" class="btn btn-sm me-2 {{ action.buttonClass }}">
          <i class="fa {{ action.icon }} me-1"></i>{{ action.label }}
        </button>
      }
    </div>
  }
</div>
