.bg {
    /* The image used */
    background-image: url("/assets/images/tulip.png");
    min-height:500px;
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg h1 {
    font-size: 6em;
    color:yellowgreen;
    font-weight: bold;
    margin-top: 1em;
}

.product {
    display: block;
    height: auto;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.product-price {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.description {
    margin: 0 auto;
    min-height: 40px;
    max-width: 235px;
}

    

