@if (!closed()) {
  <div class="toast-alert" role="alert" [class.toast-alert--out]="closing()" [ngClass]="'toast-alert--' + alert().type">
    <div class="toast-alert__icon">
      <i class="fa" [ngClass]="{
        'fa-check-circle':      alert().type === 'success',
        'fa-exclamation-circle':alert().type === 'danger' || alert().type === 'warning',
        'fa-info-circle':       alert().type === 'info'
      }"></i>
    </div>
    <span class="toast-alert__msg">{{ alert().msg }}</span>
    @if (dismissible) {
      <button class="toast-alert__close" (click)="onClose()" aria-label="Close">
        <i class="fa fa-times"></i>
      </button>
    }
  </div>
}
