<h2 class="step-title">Choose your shipper</h2>

<div class="shipper-list">
  @for (shipper of shippers(); track shipper) {
    <button class="shipper-card" (click)="validate(shipper)">
      <div class="shipper-card__icon">
        <i class="fa fa-truck"></i>
      </div>
      <div class="shipper-card__info">
        <strong class="shipper-card__name">{{ shipper.name }}</strong>
      </div>
      <div class="shipper-card__action">
        <span class="shipper-card__select">Select <i class="fa fa-arrow-right ms-1"></i></span>
      </div>
    </button>
  }
</div>

<div class="step-nav mt-4">
  <a class="btn-step-back" [routerLink]="['/checkout/checkout2']">
    <i class="fa fa-arrow-left me-2"></i>Back to Invoice
  </a>
</div>
