<div class="row mx-2">
  <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
    <h1><span><fa name="shopping-cart"></fa> Checkout</span></h1>
  </div>
</div>


<div class="row mx-2">
  <div class="col-lg-9 col-md-9 col-sm-12">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div>
          <ul class="orderStep">
            <li [class.active]="routeIsActive('/checkout/checkout1') || routeIsActive('/checkout')">
              <a [routerLink]="['./checkout1']" [class.disabled]="disabled">
                <i class="fa fa-map-marker"></i> 
                <span class="d-xs-none">Delivery</span>
              </a>
            </li>
            <li [class.active]="routeIsActive('/checkout/checkout2')">
              <a [routerLink]="['./checkout2']" [class.disabled]="disabled">
                <i class="fa fa fa-envelope"></i>
                <span class="d-xs-none">Invoice</span>
              </a>
            </li>
            <li [class.active]="routeIsActive('/checkout/checkout3')">
              <a [routerLink]="['./checkout3']" [class.disabled]="disabled">
                <i class="fa fa-truck"> </i>
                <span class="d-xs-none">Shipper</span>
              </a>
            </li>
            <li [class.active]="routeIsActive('/checkout/checkout4')">
              <a [routerLink]="['./checkout4']" >
                <i class="fa fa-money"></i>
                <span class="d-xs-none">Payment</span>
              </a>
            </li>
            <li [class.active]="routeIsActive('/checkout/checkout5')">
              <a [routerLink]="['./checkout5']" >
                <i class="fa fa-check-square"> </i>
                <span class="d-xs-none">Order</span>
              </a>
            </li>
          </ul>
        </div>


        <div class="clearfix mx-2">
          <router-outlet></router-outlet>
        </div>


      </div>
    </div>

  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar" *ngIf="!routeIsActive('/checkout/checkout5')">
    <div>
      <table class="std table">
        <tbody>
        <tr *ngIf="checkoutService.order">
          <td>Order : </td>
          <td class="price" >{{checkoutService.order?.documentNo}}</td>
        </tr>
        <tr *ngIf="checkoutService.shipper?.price">
          <td>Shipper:</td>
          <td *ngIf="checkoutService.shipper.price === 0" class="price"><span class="success">Free!</span></td>
          <td *ngIf="checkoutService.shipper.price > 0" class="price"><span class="price">{{checkoutService.shipper.price | currency}}</span></td>
        </tr>
        <tr *ngIf="checkoutService.order">
            <td>Net Price : </td>
            <td class="price" >{{checkoutService.order?.totalLines | currency}}</td>
        </tr>
        <tr *ngFor="let tax of checkoutService.order?.taxes">
          <td>{{tax.name}}</td>
          <td class="price">{{tax.tax | currency}}</td>
        </tr>
        <tr>
          <td>Total Price:</td>
          <td class="price">{{checkoutService.getTotalPrice() | currency}}</td>
        </tr>
        </tbody>
      </table>

      <table *ngIf="checkoutService.shipAddress?.address1" class="std table">
        <thead><h3>Delivery Address</h3></thead>
        <tbody>
        <tr> 
          <td>
            <ul class="list-inline">
              <li *ngIf="checkoutService.shipAddress.name"><span><strong>{{checkoutService.shipAddress.name}}</strong></span></li>
              <li *ngIf="checkoutService.shipAddress.address1"><span>{{checkoutService.shipAddress.address1}}</span></li>
              <li *ngIf="checkoutService.shipAddress.address2"><span>{{checkoutService.shipAddress.address2}}</span></li>
              <li *ngIf="checkoutService.shipAddress.postal"><span>{{checkoutService.shipAddress.postal}} {{checkoutService.shipAddress.city}}</span></li>
              <li *ngIf="checkoutService.shipAddress.countryName"><span>{{checkoutService.shipAddress.countryName}}</span></li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>

      <table *ngIf="checkoutService.billAddress?.address1" class="std table">
        <thead><h3>Invoice Address</h3></thead>
        <tbody>
        <tr>
          <td>
            <ul class="list-inline">
              <li *ngIf="checkoutService.billAddress.name"><span> <strong>{{checkoutService.billAddress.name}}</strong></span></li>
              <li *ngIf="checkoutService.billAddress.address1"><span>{{checkoutService.billAddress.address1}}</span></li>
              <li *ngIf="checkoutService.billAddress.address2"><span>{{checkoutService.billAddress.address2}}</span></li>
              <li *ngIf="checkoutService.billAddress.postal"><span>{{checkoutService.billAddress.postal}} {{checkoutService.billAddress.city}}</span></li>
              <li *ngIf="checkoutService.billAddress.countryName"><span>{{checkoutService.billAddress.countryName}}</span></li>
             </ul>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>


</div>

