<div class="row mx-2">
  <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
    <h1><span><i class="fa fa-shopping-cart"></i> Checkout</span></h1>
  </div>
</div>


<div class="row mx-2">
  <div class="col-lg-9 col-md-9 col-sm-12">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div>
          <ul class="orderStep">
            <li [class.active]="routeIsActive('/checkout/checkout1') || routeIsActive('/checkout')">
              <a [routerLink]="['./checkout1']" [class.disabled]="disabled">
                <i class="fa fa-map-marker"></i>
                <span class="d-xs-none">Delivery</span>
              </a>
            </li>
            <li [class.active]="routeIsActive('/checkout/checkout2')">
              <a [routerLink]="['./checkout2']" [class.disabled]="disabled">
                <i class="fa fa fa-envelope"></i>
                <span class="d-xs-none">Invoice</span>
              </a>
            </li>
            <li [class.active]="routeIsActive('/checkout/checkout3')">
              <a [routerLink]="['./checkout3']" [class.disabled]="disabled">
                <i class="fa fa-truck"> </i>
                <span class="d-xs-none">Shipper</span>
              </a>
            </li>
            <li [class.active]="routeIsActive('/checkout/checkout4')">
              <a [routerLink]="['./checkout4']" >
                <i class="fa fa-money"></i>
                <span class="d-xs-none">Payment</span>
              </a>
            </li>
            <li [class.active]="routeIsActive('/checkout/checkout5')">
              <a [routerLink]="['./checkout5']" >
                <i class="fa fa-check-square"> </i>
                <span class="d-xs-none">Order</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="clearfix mx-2">
          <router-outlet></router-outlet>
        </div>

      </div>
    </div>

  </div>
  @if (!routeIsActive('/checkout/checkout5')) {
    <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">
      <div>
        <table class="std table">
          <tbody>
            @if (order().id > 0) {
              <tr>
                <td>Order : </td>
                <td class="price" >{{ order().documentNo}}</td>
              </tr>
            }
            @if (order().shipper) {
              <tr>
                <td>Shipper:</td>
                <td class="price"><span class="success">{{ order().shipper.name }}</span></td>
                <!--          <td *ngIf="order().shipper.price === 0" class="price"><span class="success">Free!</span></td>-->
                <!--          <td *ngIf="order().shipper.price > 0" class="price"><span class="price">{{ order().shipper.price | currency }}</span></td>-->
              </tr>
            }
            @if (order().id) {
              <tr>
                <td>Net Price : </td>
                <td class="price" >{{ order()?.totalLines | currency }}</td>
              </tr>
            }
            @for (tax of order()?.taxes; track tax) {
              <tr>
                <td>{{tax.name}}</td>
                <td class="price">{{ tax.taxAmt | currency }}</td>
              </tr>
            }
            <tr>
              <td>Total Price:</td>
              <td class="price">{{ order().grandTotal | currency}}</td>
            </tr>
          </tbody>
        </table>
        @if (order().shipAddress?.location.address1) {
          <table class="std table">
            <thead><h3>Delivery Address</h3></thead>
            <tbody>
              <tr>
                <td>
                  <ul class="list-inline">
                    @if (order().shipAddress.location.address1) {
                      <li><span>{{ order().shipAddress.location.address1 }}</span></li>
                    }
                    @if (order().shipAddress.location.address2) {
                      <li><span>{{ order().shipAddress.location.address2 }}</span></li>
                    }
                    @if (order().shipAddress.location.postal) {
                      <li><span>{{ order().shipAddress.location.postal }} {{ order().shipAddress.location.city }}</span></li>
                    }
                    @if (order().shipAddress.location.country.name) {
                      <li><span>{{ order().shipAddress.location.country.name }}</span></li>
                    }
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        }
        @if (order().billAddress?.location.address1) {
          <table class="std table">
            <thead><h3>Invoice Address</h3></thead>
            <tbody>
              <tr>
                <td>
                  <ul class="list-inline">
                    @if (order().billAddress.location.address1) {
                      <li><span>{{ order().billAddress.location.address1 }}</span></li>
                    }
                    @if (order().billAddress.location.address2) {
                      <li><span>{{ order().billAddress.location.address2 }}</span></li>
                    }
                    @if (order().billAddress.location.postal) {
                      <li><span>{{ order().billAddress.location.postal }} {{ order().billAddress.location.city }}</span></li>
                    }
                    @if (order().billAddress.location.country.name) {
                      <li><span>{{ order().billAddress.location.country.name }}</span></li>
                    }
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        }
      </div>
    </div>
  }


</div>

