<div class="container">
    <div class="row">

    <div class="col-lg-4 col-md-4 my-2" *ngFor="let address of privateService.addresses">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>{{address.label}}</strong></h3>
            </div>
            <div class="panel-body">
              <ul class="list-inline">
                <li><span> <strong>{{address.name}}</strong></span></li>
                <li *ngIf="!address.name"><span>&nbsp;</span></li>
                <li><span>{{address.address1}}</span></li>
                <li><span>{{address.address2}}</span></li>
                <li><span>{{address.postal}} {{address.city}}</span></li>
                <li><span>{{address.countryName}}</span></li>
      
                <li *ngIf="!address.address2"><span>&nbsp;</span></li>
                <li *ngIf="!address.phone"><span> <strong class="mr-2">Phone</strong>{{address.phone}}</span></li>
              </ul>
            </div>
            <div class="panel-footer panel-footer-address">
              <button type="submit" (click)="validateBillAddress(address)" class="btn btn-sm btn-success"><i class="fa fa-edit"> </i> Validate</button>
            </div>
        </div>
      </div>
      
      <div class="row justify-content-center">
      
        <form (ngSubmit)="validateNewAddress()" #addressForm="ngForm">
          <div class="row justify-content-center mx-2">
      
            <div class="col-lg-12 col-xs-6">
                <h2 class="block-title-2"> To add new address fill in this form</h2>
                <p class="required"><sup>*</sup> Mandatory</p>
            </div>
      
            <div class="col-lg-12 col-xs-12 col-sm-12">
              <div class="form-group required">
                <label for="addressLabel">Address Label<sup>*</sup></label>
                <em [hidden]="label.valid || label.pristine" class="has-error">Label is mandatory</em>
                <input [(ngModel)]="address.label" #label="ngModel" type="text" value="My address" name="label"
                        class="form-control" id="addressLabel" required>
              </div>
            </div>
      
            <div class="col-lg-6 col-xs-6 col-sm-12">
              <div class="form-group required" >
                <label for="InputName">Your First Name, Last Name<sup>*</sup> </label>
                <em [hidden]="name.valid || name.pristine" class="has-error">Your name is mandatory</em>
                <input [(ngModel)]="address.name" name="name" #name="ngModel" type="text" class="form-control" id="InputName" placeholder="First Name, Last Name" required>
              </div>
      
              <div class="form-group required">
                <label for="InputAddress">Address <sup>*</sup> </label>
                <em [hidden]="address1.valid || address1.pristine" class="has-error">Your address is mandatory</em>
                <input [(ngModel)]="address.address1" #address1="ngModel" name="address1" #address1="ngModel" type="text"
                        class="form-control" id="InputAddress" placeholder="Address" required>
              </div>
      
              <div class="form-group">
                <label for="InputAddress2">Address 2</label>
                <input [(ngModel)]="address.address2" name="address2" type="text" class="form-control" id="InputAddress2" 
                        placeholder="Address 2">
              </div>
            </div>
      
      
            <div class="col-lg-6 col-xs-6 col-sm-12">
      
              <div class="form-group required">
                <label for="InputCity">City <sup>*</sup> </label>
                <em [hidden]="city.valid || city.pristine" class="has-error">Your city is mandatory</em>
                <input [(ngModel)]="address.city" name="city" #city="ngModel" type="text" class="form-control" id="InputCity" placeholder="City"  required>
              </div>
      
              <div class="form-group required">
                <label for="InputZip">Postal <sup>*</sup> </label>
                <em [hidden]="postal.valid || postal.pristine" class="has-error">Your postal is mandatory</em>
                <input [(ngModel)]="address.postal" name="postal" #postal="ngModel" type="text" class="form-control" id="InputZip" placeholder="Postal" required>
              </div>
      
              <div class="form-group required">
                <label for="InputCountry">Country <sup>*</sup> </label>
                <select [(ngModel)]="selectedCountry"  name="selectedCountry" class="form-control" id="InputCountry">
                  <option [ngValue]="country" *ngFor="let country of countries">{{country.name}}</option>
                </select>
              </div>
      
              <div class="form-group required">
                <label for="InputMobile">Phone <sup>*</sup></label>
                <em [hidden]="phone.valid || phone.pristine" class="has-error">Phone is mandatory for delivery</em>
                <input [(ngModel)]="address.phone" #phone="ngModel" type="tel" name="phone" class="form-control" id="InputMobile" required>
              </div>
      
            </div>
      
            <div class="cartFooter">
              <div class="box-footer">
                <div class="pull-left"><a class="btn btn-default" [routerLink]="['/checkout/checkout1']"> <i class="fa fa-arrow-left  mr-2"></i>Return de delivery address</a></div>
                <div class="pull-right">
                  <button type="submit" class="btn btn-primary" [disabled]="!addressForm.form.valid">Validate <i class="fa fa-arrow-circle-right ml-2"></i> </button>
                </div>
              </div>
            </div>
      
          </div>
        </form>
      </div>
      
    </div>
</div>