<!-- Breadcrumb -->
<div class="page-breadcrumb">
  <div class="container">
    <nav class="breadcrumb-nav">
      <a [routerLink]="['/']"><i class="fa fa-home"></i></a>
      <span class="breadcrumb-sep">/</span>
      <span>Account</span>
    </nav>
  </div>
</div>

<div class="container page-body">

  <div class="page-header">
    <h1 class="page-title"><i class="fa fa-user-circle me-2"></i>My Account</h1>
  </div>

  <p class="account-welcome">Manage your personal information, addresses and orders.</p>

  <div class="account-grid">

    <a class="account-tile" [routerLink]="['/account/orders']">
      <div class="account-tile__icon"><i class="fa fa-list-alt"></i></div>
      <div class="account-tile__body">
        <span class="account-tile__title">Orders</span>
        <span class="account-tile__sub">Track &amp; view your orders</span>
      </div>
      <i class="fa fa-chevron-right account-tile__arrow"></i>
    </a>

    <a class="account-tile" [routerLink]="['/account/addresses']">
      <div class="account-tile__icon"><i class="fa fa-map-marker"></i></div>
      <div class="account-tile__body">
        <span class="account-tile__title">Addresses</span>
        <span class="account-tile__sub">Delivery &amp; invoice addresses</span>
      </div>
      <i class="fa fa-chevron-right account-tile__arrow"></i>
    </a>

    <a class="account-tile" [routerLink]="['/account/upsert-address']">
      <div class="account-tile__icon"><i class="fa fa-plus-circle"></i></div>
      <div class="account-tile__body">
        <span class="account-tile__title">Add address</span>
        <span class="account-tile__sub">Register a new address</span>
      </div>
      <i class="fa fa-chevron-right account-tile__arrow"></i>
    </a>

    <a class="account-tile" [routerLink]="['/account/information']">
      <div class="account-tile__icon"><i class="fa fa-user"></i></div>
      <div class="account-tile__body">
        <span class="account-tile__title">Personal info</span>
        <span class="account-tile__sub">Name &amp; email address</span>
      </div>
      <i class="fa fa-chevron-right account-tile__arrow"></i>
    </a>

    <a class="account-tile" [routerLink]="['/account/password']">
      <div class="account-tile__icon"><i class="fa fa-lock"></i></div>
      <div class="account-tile__body">
        <span class="account-tile__title">Password</span>
        <span class="account-tile__sub">Change your password</span>
      </div>
      <i class="fa fa-chevron-right account-tile__arrow"></i>
    </a>

  </div>
</div>
