<div class="row">
  <div class="breadcrumbDiv col-lg-12">
    <ul class="breadcrumb">
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/account']">Account</a></li>
      <li class="active">Password</li>
    </ul>
  </div>
</div>

<div class="container">
  <form *ngIf="active" [formGroup]="passwordForm" (submit)='save(passwordForm.value)'>
    <div class="row">
        <div class="col-12">
          <h1 class="section-title-inner"><span><i class="fa fa-user vr-2"></i>Password</span></h1>

          <div class="row">
            <div class="col-lg-12">
              <h2 class="block-title-2">Password updating</h2>
              <p class="required"><sup>*</sup> Mandatory</p>
            </div>
            <div class="col-xs-12 col-sm-6 d-grid gap-2">
              <div class="form-group required">
                <label for="InputPasswordCurrent">Old password<sup> * </sup> </label>
                <app-control-messages [control]="passwordForm.controls.password"></app-control-messages>
                <input name="password" formControlName="password" type="password" class="form-control" id="InputPasswordCurrent"
                autocomplete="foo" required>
              </div>
              <div class="form-group required">
                <label for="InputPasswordNew">New password</label>
                <app-control-messages [control]="passwordForm.controls.newPassword"></app-control-messages>
                <input name="newPassword" formControlName="newPassword" type="password"  class="form-control" id="InputPasswordNew"
                autocomplete="foo" required>
              </div>
              <div class="form-group required">
                <label for="InputPasswordnewConfirm">Confirm password</label>
                <app-control-messages [control]="passwordForm.controls.confirmPassword"></app-control-messages>
                <input name='confirmPassword' formControlName="confirmPassword" autocomplete="foo"
                        type="password" class="form-control" id="InputPasswordnewConfirm" required>
              </div>
            </div>

            <div class="col-12 mt-2">
              <button type="submit" [disabled]="!passwordForm.valid" class="btn btn-primary"><i class="fa fa-save mr-2"></i>Save</button>
            </div>
          </div>
        </div>
    </div>
  </form>
</div>


<div class="col-lg-12 my-2">
    <ul class="contentFooter list-inline">
      <li class="previous pull-right"><a [routerLink]="['/']"><i class="fa fa-home mr-2"></i> Home</a>
      </li>
      <li class="next pull-left"><a [routerLink]="['/account']"><i class="fa fa-arrow-left mr-2"></i> Account</a></li>
    </ul>
</div>


